In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Bring in CSVs
data_2019 = pd.read_csv("201910-citibike-tripdata.csv")
data_2020 = pd.read_csv("202010-citibike-tripdata.csv")

In [3]:
# data_2013_clean = data_2013.dropna()
data_2019["gender"] = data_2019["gender"].replace([0, 1, 2],["Unknown", "Male", "Female"])
data_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,Male
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,Male
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,Male
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,Male
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092568,729,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,237,E 11 St & 2 Ave,40.730473,-73.986724,311,Norfolk St & Broome St,40.717227,-73.988021,25725,Subscriber,1995,Male
2092569,645,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,3259,9 Ave & W 28 St,40.749370,-73.999234,461,E 20 St & 2 Ave,40.735877,-73.982050,39583,Customer,1969,Unknown
2092570,257,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,3798,W 40 St & 5 Ave,40.752269,-73.982079,505,6 Ave & W 33 St,40.749013,-73.988484,21240,Subscriber,1985,Male
2092571,466,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,328,Watts St & Greenwich St,40.724055,-74.009660,361,Allen St & Hester St,40.716059,-73.991908,34916,Subscriber,1989,Unknown
2092572,81,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3093,N 6 St & Bedford Ave,40.717452,-73.958509,25745,Subscriber,1990,Male

In [4]:
# data_2014_clean = data_2014.dropna()
data_2020["gender"] = data_2020["gender"].replace([0, 1, 2],["Unknown", "Male", "Female"])
data_2020

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1403,2020-10-01 00:00:10.7870,2020-10-01 00:23:34.5400,224,Spruce St & Nassau St,40.711464,-74.005524,3347,Van Brunt St & Wolcott St,40.677343,-74.012751,39079,Subscriber,1995,Male
1,462,2020-10-01 00:00:18.2390,2020-10-01 00:08:00.5710,3161,W 76 St & Columbus Ave,40.780184,-73.977285,3158,W 63 St & Broadway,40.771639,-73.982614,41267,Subscriber,1998,Female
2,770,2020-10-01 00:00:21.3070,2020-10-01 00:13:12.0840,354,Emerson Pl & Myrtle Ave,40.693631,-73.962236,3761,Cedar St & Myrtle Ave,40.697842,-73.926241,47398,Customer,1996,Male
3,233,2020-10-01 00:00:25.0080,2020-10-01 00:04:18.6410,3141,1 Ave & E 68 St,40.765005,-73.958185,464,E 56 St & 3 Ave,40.759345,-73.967597,36482,Subscriber,1993,Male
4,126,2020-10-01 00:00:25.3100,2020-10-01 00:02:32.1330,335,Washington Pl & Broadway,40.729039,-73.994046,229,Great Jones St,40.727434,-73.993790,45319,Subscriber,1989,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248864,1120,2020-10-31 23:59:48.4470,2020-11-01 00:18:29.3280,471,Grand St & Havemeyer St,40.712868,-73.956981,3764,Bushwick Ave & McKibbin St,40.705517,-73.939360,35356,Customer,1996,Male
2248865,859,2020-10-31 23:59:49.3770,2020-11-01 00:14:09.1920,4005,St. Nicholas Terrace & Convent Ave,40.821294,-73.947868,3960,Hamilton Pl & W 140 St,40.822756,-73.951346,48322,Customer,1999,Male
2248866,546,2020-10-31 23:59:52.1040,2020-11-01 00:08:59.0710,4010,W 145 St & Amsterdam Ave,40.825244,-73.947257,4057,Amsterdam Ave & W 167 St,40.839443,-73.937044,44589,Subscriber,1976,Male
2248867,748,2020-10-31 23:59:53.0290,2020-11-01 00:12:21.7830,3783,Cliff St & Fulton St,40.708380,-74.004950,432,E 7 St & Avenue A,40.726218,-73.983799,48511,Subscriber,1997,Female
2248868,1366,2020-10-31 23:59:57.9770,2020-11-01 00:22:44.1290,402,Broadway & E 22 St,40.740343,-73.989551,468,Broadway & W 56 St,40.765265,-73.981923,37248,Subscriber,1974,Female

In [6]:
data_2019.to_csv("data_2019.csv", encoding="utf-8", index=False)
data_2020.to_csv("data_2020.csv", encoding="utf-8", index=False)